<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Interest_Add_Servlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.Interest_Add_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Interest_Add_Comment_Servlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.Interest_Add_Comment_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Interest_Rece_Data</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.Interest_Rece_Data</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Interest_Rece_Comment</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.Interest_Rece_Comment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rece_UserData</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.Rece_UserData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSyllabusServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.AddSyllabusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSyllabusServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.DeleteSyllabusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerySyllabusServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.QuerySyllabusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddWordBookServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.AddWordBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteWordBookServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.DeleteWordBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryWordBookServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.QueryWordBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTeacherStatistics</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.AddTeacherStatistics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStudentStatistics</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.AddStudentStatistics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReceStatistics</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.ReceStatistics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifypasswordServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.modifypasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerySimpleServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.QuerySimpleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmailsServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.AddEmailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryEmails</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.QueryEmails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IsEmailsServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.IsEmailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmailsServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.UpdateEmailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteEmailsServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.DeleteEmailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAcountServlet</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.UpdateAcountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Interest_Add_Servlet_NO</servlet-name>
    <servlet-class>com.jlu.edu.web.servlet.Interest_Add_Servlet_NO</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Interest_Add_Servlet</servlet-name>
    <url-pattern>/Interest_Add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Interest_Add_Comment_Servlet</servlet-name>
    <url-pattern>/Interest_Add_Comment_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Interest_Rece_Data</servlet-name>
    <url-pattern>/Interest_Rece_Data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Interest_Rece_Comment</servlet-name>
    <url-pattern>/Interest_Rece_Comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rece_UserData</servlet-name>
    <url-pattern>/Rece_UserData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSyllabusServlet</servlet-name>
    <url-pattern>/AddSyllabusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSyllabusServlet</servlet-name>
    <url-pattern>/DeleteSyllabusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerySyllabusServlet</servlet-name>
    <url-pattern>/QuerySyllabusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWordBookServlet</servlet-name>
    <url-pattern>/AddWordBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteWordBookServlet</servlet-name>
    <url-pattern>/DeleteWordBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryWordBookServlet</servlet-name>
    <url-pattern>/QueryWordBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTeacherStatistics</servlet-name>
    <url-pattern>/AddTeacherStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudentStatistics</servlet-name>
    <url-pattern>/AddStudentStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceStatistics</servlet-name>
    <url-pattern>/ReceStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifypasswordServlet</servlet-name>
    <url-pattern>/modifypasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerySimpleServlet</servlet-name>
    <url-pattern>/QuerySimpleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmailsServlet</servlet-name>
    <url-pattern>/AddEmailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryEmails</servlet-name>
    <url-pattern>/QueryEmails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IsEmailsServlet</servlet-name>
    <url-pattern>/IsEmailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmailsServlet</servlet-name>
    <url-pattern>/UpdateEmailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmailsServlet</servlet-name>
    <url-pattern>/DeleteEmailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAcountServlet</servlet-name>
    <url-pattern>/UpdateAcountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Interest_Add_Servlet_NO</servlet-name>
    <url-pattern>/Interest_Add_Servlet_NO</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
